*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: orange;
}

nav {
    width: 60%;
    margin: 0 auto;
    display: flex;
}

main {
    width: 100%;
    margin: 0 auto;
        
}

.container {
    width: 60%;
    margin: 0 auto;
}

.first-row {
    display: flex;
    justify-content: space-between;
}

.model {
    position: relative;
}

.model-1 {
    position: relative;
}

.levis {
    width: 100%;
}

.like {
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
}

.guess {
    width: 100%;
}

.green {
    width: 100%;
}

.second-row {
    display: flex;
    justify-content: space-between;
}

.levis-2 {
    width: 100%;
}

.long-dress {
    width: 100%;
}

.jumper {
    width: 100%;
}

.description {

}

.sale {
    background-color: red;
    position: absolute;
    bottom: 100px;
}

.sustainability {
    background-color: rgb(43, 226, 101);
    position: absolute;
    bottom: 100px;
    left: 50px;
}

.sustainability-1 {
    background-color: rgb(43, 226, 101);
    position: absolute;
    bottom: 100px;
}





