*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: orange;
    z-index: 1;
    width: 100%;
    position: fixed;
    /* position: sticky; */
}



nav {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}

.logo {
    width: 100px;
}

.link {
    text-decoration: none;
    color: white;
}

.icon {
    color: white;
    margin: 5px;
}

main {
    width: 100%;
    margin: 0 auto;
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 100px 20px;
}

.first-row {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.model {
    position: relative;
    width: 32%;
}

.model-1 {
    position: relative;
    width: 32%;
}

.levis {
    width: 100%;
}

.levis:hover {
    width: 100%;
    display: none;
}

.levisHover {
    display: none;
}

.levisHover:hover {
    display: block;
}

.like {
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 0px;
    right:0px;
    color: black;
}

.like span {
    font-size: 40px;
    padding: 10px 10px;
}

.guess {
    width: 100%;
}

.green {
    width: 100%;
}

.second-row {
    display: flex;
    justify-content: space-between;
}

.levis-2 {
    width: 100%;
}

.long-dress {
    width: 100%;
}

.jumper {
    width: 100%;
}

.description {}

.sale {
    background-color: red;
    position: absolute;
    bottom: 100px;
    color: white;
    padding: 5px 5px;
}

.sustainability {
    background-color: rgb(23, 158, 66);
    position: absolute;
    bottom: 100px;
    left: 50px;
    color: white;
    padding: 5px 5px;
}

.sustainability-1 {
    background-color: rgb(23, 158, 66);
    position: absolute;
    bottom: 100px;
    color: white;
    padding: 5px 5px;
}

.type {
    font-weight: 900;
}

.price {
    color: red;
}

.price span {
    color: black;text-decoration: line-through;
}

footer {
    background-color: black;
    color: white;
    padding: 20px 20px;
    line-height: 30px;
}

.copyright {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.left .agency {
    font-weight: 900;
}







